.cache/
.env
.env.backup
.env.production
.idea
.katalon
.histoire
.phpstan.cache
.phpunit.result.cache
*.sql.gz
*.tgz
*.sql
/.fleet
/.idea
/.phpunit.cache
/.phpunit.coverage
/.junit.log
/.vscode
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
auth.json
node_modules
npm-debug.log
yarn-error.log